:host {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--p50);

    .root {
        display: flex;
        flex-direction: column;
        padding: 20px;

        app-page-part {
            margin: 10px;
        }
    
    }

}