<input #num type="number" (input)="count = num.valueAsNumber" [value]="count">
<input #num2 type="number" (input)="startWith = num2.valueAsNumber" [value]="startWith">


<!-- <ng-template [myRepeat]="count" let-index>
    <h1>{{index}}: Hello Wotld</h1>
</ng-template> -->

<h1 *myRepeat="count startWith 4 skip 5 let index let m = middle">
    {{index}}: Hello World
    <span *ngIf="m">MIDDLE!</span>
</h1>



<!-- <h2 *ngFor="let clr of colors; let i = index; let l = last; let f = first; let o = odd; let e= even" [style.color]="clr">
    {{i}}: {{clr}}
    <span *ngIf="l">LAST!</span>
    <span *ngIf="f">FIRST!</span>
    <span *ngIf="o">ODD</span>
    <span *ngIf="e">EVEN</span>
</h2>

<ng-template ngFor let-clr [ngForOf]="colors" let-i="index" let-l="last" let-f="first" let-o="odd" let-e="even">
    <h2 [style.color]="clr">
        {{i}}: {{clr}}
        <span *ngIf="l">LAST!</span>
        <span *ngIf="f">FIRST!</span>
        <span *ngIf="o">ODD</span>
        <span *ngIf="e">EVEN</span>
    </h2>    
</ng-template> -->

