<button (click)="toggleMessage()">Toggle</button>

<div appStam [template]="temp2">
    Please place the tamplate here
</div>



<ng-template #koko let-index="mispar" let-whatever="color">
    <app-title></app-title>
    <h2 [style.color]="whatever">I am instance number: {{index}}</h2>
</ng-template>

<app-repeater [template]="koko"></app-repeater>



<ng-template #temp1>
    <h3>Hello, I am the template</h3>
</ng-template>
<ng-template #temp2>
    <h3>Hello, I am the template 2</h3>
</ng-template>
