<h1 [highlight]="myFavoriteColor">Welcome, Today we talk about: </h1>
<h2 class="x">Angular Directives</h2>
<h3 highlight>Agenda</h3>
<img src="https://images.pexels.com/photos/1003914/pexels-photo-1003914.jpeg?auto=compress&cs=tinysrgb&w=1600">
<img src="https://thumbs.dreamstime.com/b/rose-flower-love-garden-plant-backgrounds-valentines-day-49504517.jpg">
<app-blank highlight #mashu="highlight" (click)="log(mashu)"></app-blank>
<div class="owner">
    <div class="first" mouseFollow #coords="mouseFollow"></div>
    <div class="second" [style.--y]="coords.y" [style.--x]="coords.x"></div>
</div>

<ul>
    <li class="x">What are Directives</li>
    <li>Creating a directive</li>
    <li class="x y">Using the <strong highlight>ElementRef</strong></li>
    <li>Using the Renderer</li>
    <li>HostBinding and HostListener</li>
    <li class="x z">Inputs</li>
    <li highlight="magenta" (dismissed)="doSomething($event)">Outputs</li>
    <li>Shortcut syntax</li>
    <li highlight>Selectors</li>
    <li>Export as and references in angular</li>
</ul>

<input type="text">
<input type="number">
<input type="checkbox">
<input type="search">